* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    width: 100vw;
    height: 100vh;
    color: #fff;
}

header {
    background-color: #051032;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#nameStore {
    font-size: 40px;
    color: #00ccff;
    font-family: "Madimi One", serif;
}

#logo {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 90px;
}

.voltar {
    background-color: #00ccff;
    padding: 5px;
    border-radius: 5px;
}

.voltar a {
    text-decoration: none;
    color: #051032;
}

.voltar:hover {
    background-color: #007bff;
    color: #fff;
}

.voltar a:hover {
    color: #fff;
}

main {
    color: #051032;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.containner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.containner p {
    margin-bottom: 15px;
}

.imgContato {
    height: 200px;
    width: 200px;
    background-color: #051032;
    border-radius: 50%;
}

.buttomComprar {
    background-color: #00ccff;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 20px;
    text-align: center;
    border: solid 1px #051032;
}

.buttomComprar a {
    text-decoration: none;
    color: #051032;
}

footer {
    background-color: #051032;
    padding: 20px;
    font-size: 13px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}



@media (max-width: 665px) {
    .imgContato {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 540px) {
    .imgContato {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 455px) {
    #nameStore {
        font-size: 32px;
    }
}

@media (max-width: 390px) {
    #nameStore {
        font-size: 28px;
    }
}

@media (max-width: 360px) {
    #nameStore {
        font-size: 22px;
    }
}